@page "/"

<PageTitle>@Title</PageTitle>

<h1 class="text-3xl font-bold underline">
    Hello, world!
</h1>

Welcome to your new app.


@code {
    private string Title { get; set; } = Resources.Home.Home_Title;
}